/* comes below, therefore overrides the above style. */
 @font-face {
  font-family: FiraCode;
  src: url(../fonts/FiraCode-Regular.otf);
}

* {
	color: #8B9DC3;
	background-color: #DCE1ED;
	font-family: FiraCode;
}

h1 {
	text-align: center;
}